SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

DB_NAME=location_hub_db
DB_USER=location_hub_admin
DB_PASSWORD=your-database-password
DB_HOST=db
DB_PORT=5432